.pass-form {

    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px white;
    background-color: rgb(146, 206, 234);
    color: black;
}

.pass-body {
    height: 70vh;
    background-color: rgb(5, 69, 108);
}




/* From Uiverse.io by adamgiebl */
.button-send {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.button-send span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.button-send svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.button-send:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.button-send:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.button-send:hover span {
    transform: translateX(5em);
}

.button-send:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

.account-body{
    height: auto;
    background-color: rgb(5, 69, 108);
}

.account-update-form{
    background-color: crimson;
    border-radius: 15px;
    border: 2px solid orange;
}

.table-user-view-profile{
    border-radius: 10px;
    margin-top: 40px;
}

.account-img{
    width: 150px;
    height: 150px;
    border-radius: 1900px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -80px;
    
}

.my-account{
    margin-top: 80px;
}

.pass-change{
    font-family: fantasy;
    /* font-weight: bold; */
}

.all-job-box-img{
    width: 150px;
    height: auto;
}

.box-job{
    background-color: antiquewhite;
    border: 3px solid rgb(3, 152, 232);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

}

.apply_list_not_found{

    height: auto;
}

.all_job_card{
    width: 250px;
    background-color: whitesmoke;
    border: 1px solid sandybrown;
}

.all_job_card:hover{
    background-color:gray;
    color: black;
    border: 1px solid cornflowerblue;
    box-shadow: 4px 4px 4px rgb(75, 103, 125);
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.job_all_body{
    background-color: rgb(5, 69, 108);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}